
<h1>Add BusinessUnit</h1>

<h3>Location</h3>
<% form_for @business_unit, :url => business_units_path do |form| %>
  <%= form.error_messages %>

<div class="row">
    <%= form.label :Name %>
    <%= form.text_field :name %>
    </div>
<div class="row">
    <%= form.label :Description %>
    <%= form.text_area :description, :rows => 3 %>
    </div>
<div class="row">
    <%= form.label :Logo %>
    <%= form.text_field :logo %>
    </div>
<div class="row">
    <%= form.label :url %>
    <%= form.text_field :url %>
    </div>

  <% fields_for "business_unit[location_attribs]", @business_unit.location do |lform| %>
    <%= lform.label :City %>
    <%= lform.text_field :city %>
<br />
    <%= lform.label :Area %>
    <%= lform.text_field :area %>
<br />
<br />
    <%= lform.label :latitude %>
    <%= lform.text_field :latitude %>
<br />
<br />
    <%= lform.label :longitude %>
    <%= lform.text_field :longitude %>
<br />
  <%end%>
<br /><br />
  <%= form.label :Categories %>
  <% for category in @categories do %>
      <%= check_box_tag 'business_unit[category_ids][]', category.id%>
      <%= category.name.humanize %>
    <% end %>

    <br/>
    <%= form.submit "Add BusinessUnit" %>
  <% end %>

