<html>
<head>
  <title>

  </title>
  <%= stylesheet_link_tag "style"  %>
    <%= javascript_include_tag 'jQuery/jquery-1.4.2' %>
</head>
<body>
  <div id="header">
    <div class="header_login">
     <% if current_user.nil? %>
      <%= link_to "Advertiser Login", login_url %>
      <% else %>
      <%= link_to "Logout",  logout_url%>
      <% end %>
    </div>
    <h1>Merchandiser place to put their ads</h1>
  </div>
  <div id="page">
    <%= yield %>
  </div>
  <div id="footer">
    <%= link_to "About Us" %> | <%= link_to "Contact Us" %>
  </div>
</body>
</html>